body {
  background-color: #313131;
  color: #eaeaea;
  font-size: 20px;
}
.ctn {
  margin: auto;
}
.formWrap {
  width: 500px;
  margin: auto;
  border: 1px solid #828282;
  padding: 20px;
}
.formWrap > p {
  text-align: center;
  text-transform: uppercase;
}
.form-group {
  padding: 20px;
}
.form-group input {
  padding: 8px 12px;
}
.btn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
.btn-group div.btn {
  cursor: pointer;
  border: 1px solid #828282;
  padding: 20px 40px;
}
form input.display {
  width: 100%;
}

/*# sourceMappingURL=stylesheet.css.map */